.box {
  border-color: currentColor;
  border-style: solid;
  border-width: var(--border-thin);
  padding: var(--box-padding);
}

.box * {
  color: inherit;
}

.box[data-state='invert'] {
  background-color: var(--color);
  color: var(--background-color);
}
