.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--center-max);
  padding-inline-end: var(--center-gutters);
  padding-inline-start: var(--center-gutters);
}

.center_text {
  text-align: center;
}

.center_intrinsic {
  align-items: center;
  display: flex;
  flex-direction: column;
}
