.cover {
  display: flex;
  flex-direction: column;
  min-block-size: var(--cover-min-height);
  padding: var(--cover-space);
}

.cover > * {
  margin-block: var(--cover-space);
}

.cover > :first-child:not(.cover__center) {
  margin-inline-start: 0;
}

.cover > :last-child:not(.cover__center) {
  margin-inline-end: 0;
}

.cover > .cover__center {
  margin-block: auto;
}
