.frame {
  align-items: center;
  aspect-ratio: var(--frame-denominator) / var(--frame-numerator);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.frame > img,
.frame > video {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}
