*,
:before,
:after {
  background-color: transparent;
  border: 0 solid;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
}

:focus,
:focus-visible {
  outline-color: var(--color);
  outline-offset: var(--border-thin);
  outline-style: dotted;
  outline-width: var(--border-thin);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

nav,
main,
header,
footer {
  display: block;
}

kbd:not(.unstyled) {
  background-color: hsl(0, 0%, var(--l-90));
  border-color: hsl(0, 0%, var(--l-70));
  border-radius: var(--border-thin);
  border-style: solid;
  border-width: 1px;
  color: hsl(0, 0%, var(--l-20));
  font-size: 0.85em;
  padding: var(--border-thin) var(--border-thick);
  white-space: nowrap;
}

select {
  cursor: pointer;
}

input[type='email'] {
  border-width: var(--border-thin);
  padding: var(--s-3) var(--s0);
}

[hidden],
.display_none {
  display: none !important;
}

[hidden] + *,
.display_none + * {
  margin-top: 0 !important;
}

[tabindex="-1"]:focus {
 outline: none;
}

/* NOTE(toby3d): https://allyjs.io/tutorials/hiding-elements.html#how-to-hide-elements-visually */
.visually-hidden:not(:focus-visible):not(:active) {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
  }
}
