.grid {
  display: grid;
  grid-gap: var(--grid-space);
}

.grid_rows_masonry {
  grid-template-rows: masonry;
}

@supports (width: min(var(--grid-min), 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-min), 100%), 1fr));
  }
}
