img {
  background-color: transparent;
  height: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

img:not(.icon)[width] {
  width: auto;
}

img:not(.icon)[width][height] {
  height: auto;
}

img[src$=".svg"] {
  height: auto;
  max-width: none;
  width: 100%;
}

main img {
  content-visibility: auto;
}
