.imposter {
  inset-block-start: 50%;
  inset-inline-start: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.imposter_container {
  max-block-size: calc(100% - (var(--imposter-margin) * 2));
  max-inline-size: calc(100% - (var(--imposter-margin) * 2));
  overflow: auto;
}

.imposter_fixed {
  position: fixed;
}
