.sidebar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-space);
}

.sidebar_no-stretch {
  align-items: flex-start;
}

.sidebar > :first-child,
.sidebar.sidebar_side_left > :first-child,
.sidebar.sidebar_side_right > :last-child {
  flex-basis: var(--sidebar-side-width);
  flex-grow: 1;
}

.sidebar > :last-child,
.sidebar.sidebar_side_left > :last-child,
.sidebar.sidebar_side_right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: var(--sidebar-content-min);
}
