.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack:not(.stack_recursive) > *,
.stack.stack_recursive * {
  margin-block: 0;
}

.stack:not(.stack_recursive) > * + *,
.stack.stack_recursive * + * {
  margin-block-start: var(--stack-space);
}
