article {
  word-break: break-word;
}

h1,
h2,
h3,
h4 {
  line-height: var(--line-height-small);
  hyphens: auto;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.font-weight_bold {
  font-weight: bold;
}

input,
button,
textarea,
select {
  font: inherit;
}

blockquote > q {
  font-style: italic;
}

:any-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  transition-duration: var(--speed-medium);
  transition-property: text-decoration-color;
  transition-timing-function: var(--easing-standard);
}

:any-link:hover {
  text-decoration-color: transparent;
}

abbr {
  text-decoration: underline;
  text-decoration-style: dotted;
}

wbr:before {
  content: "\200B";
  white-space: normal;
}

th {
  text-align: left;
}

q {
  quotes: '«' '»';
}

ul:not([class]),
ol:not([class]) {
  margin-left: 2em;
}

ul {
  list-style-type: '一 ';
}

ul[class],
ol[class] {
  list-style: none;
}

table {
  border-collapse: collapse;
}

.page {
  color: var(--color);
  font-display: optional;
  font-family: system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji;
  font-size: calc(1rem + 0.333vw);
}

.page__body {
  line-height: var(--line-height);
  text-rendering: optimizeSpeed;
}
