{{ with partialCached "va/style" . }}
  <link
    as="style"
    crossorigin="anonymous"
    href="{{ .RelPermalink | absURL }}"
    importance="high"
    integrity="{{ .Data.Integrity }}"
    referrerpolicy="no-referrer-when-downgrade"
    rel="preload stylesheet"
    type="{{ .MediaType.String }}">
{{ end }}
{{ with partialCached "va/script" . }}
  <link
    as="script"
    crossorigin="anonymous"
    href="{{ .RelPermalink | absURL }}"
    importance="high"
    integrity="{{ .Data.Integrity }}"
    referrerpolicy="no-referrer-when-downgrade"
    rel="preload"
    type="{{ .MediaType.String }}">
{{ end }}