{{- with partialCached "va/style" . -}}
  <link rel="preload stylesheet"
    as="style"
    href="{{ .RelPermalink }}"
    integrity="{{ .Data.Integrity }}"
    type="{{ .MediaType.String }}"
    importance="high"
    crossorigin="anonymous"
    referrerpolicy="no-referrer-when-downgrade">
{{- end -}}
{{- with partialCached "va/script" . -}}
  <link rel="preload"
    as="script"
    href="{{ .RelPermalink }}"
    integrity="{{ .Data.Integrity }}"
    type="{{ .MediaType.String }}"
    importance="high"
    crossorigin="anonymous"
    referrerpolicy="no-referrer-when-downgrade">
{{- end -}}