$max_columns: 16

.grid
  display: grid
  grid-template-columns: repeat($max_columns, 1fr)

  &__column
    display: block
    grid-column: 1

    @for $i from 1 through $max_columns
      &_size_#{$i}
        grid-column: auto / span #{$i}

  &__row
    display: grid
    grid-column: auto / span $max_columns
    grid-template-columns: repeat($max_columns, 1fr)